p {
  color: #778ea3;
}

h1,
p {
  font-family: "Open Sans", sans-serif;
}

.navi {
  font-family: "Style Script", cursive;
}

.bg-image {
}

.header,
.navi,
.heading-info {
  color: #394855;
}

.jumbotron {
  background-image: url(../img/placeholder.PNG);
  background-repeat: no-repeat;
  background-color: #e1eaf1;
  background-position: center;
}

hr {
  border-color: #778ea3;
}
