
 .navi {
    font-family: "Style Script", cursive;
}
.navbar {
  background-color: red;
}
svg {
  color: red;
  top: 0;
  position: sticky;
  z-index: -1;
  
}
h1 {
    color: red;
    font-family: 'Anton', sans-serif;
}
.jum {
    color: white;
}
.jumbo {
    height: auto;
    background-image: url("./image/overlook3.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    border: .25rem solid red;
}
h2 {
    font-family: 'Anton', sans-serif;
}

.card {
  border: .25rem solid red;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.map {
  border: .25rem solid red;
}
.footer {
    border-top: .25rem solid red;
    height: 5rem;
}

.fa-brands {
  color: red;
}
 
.nav-item {
  font-weight: bolder;
  color: red;
}

/* breakpoints */
 /* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) {
  .fa-brands {
    size-adjust:  25%;
  }

}

 /* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
   .fa-brands{
   size-adjust:  50%;
  }

}

 /* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .fa-brands {
    size-adjust:  75%;
  }

}

 /* X-Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .fa-brands {
    size-adjust:  100%;
  }

}

 /* XX-Large devices (larger desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
  .fa-brands{
    size: 120%;
  }
}





    
